*{
    font-family: "Inter";
    text-decoration: none;
}
h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
}
p {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 32px;
    /* or 139% */

    display: flex;
    align-items: center;
    letter-spacing: -0.028em;

    /* Light / Text / Secondary */

    color: rgba(60, 60, 67, 0.6);
}
*:not(.button) a:hover,
* a:hover::after {
    color: #ccc;
}
/* homepage */
.homepage {
    background-color: #EFEFF4;;
}
li{
    list-style-type: none;
}
.logo {
    font-size: 20px;
    padding: 7.5px 10px 7.5px 0;
}
.items {
    padding: 10px;
    height: 40pt;
}

#canal{
    /* CANAL */
    position: absolute;
    left: 9.71%;
    right: 84.64%;
    top: 33%;
    bottom: 63.44%;

    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 32px;
    /* identical to box height, or 139% */

    display: flex;
    align-items: center;
    letter-spacing: -0.028em;

    /* Light / Text / Secondary */

    color: rgba(60, 60, 67, 0.6);
}
#motto{
    /* Connecting small businesses to the world. */
    position: absolute;
    left: 9.71%;
    right: 36.71%;
    top: 41.33%;
    bottom: 54.22%;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    letter-spacing: -0.05em;

    /* Light / Text / Primary */

    color: #000000;
}
.learnMore{
    position: absolute;
    left: 9.71%;
    right: 79.43%;
    top: 62.78%;
    bottom: 31.67%;

    background: #00AAD4;
    border-radius: 100px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* FILL-BUTTON-TEXT-SHADOW */

    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.learnMore a{
    color: #FFFFFF;
}

.desc {
    position: absolute;
    left: 9.71%;
    right: 42.14%;
    top: 50.67%;
    bottom: 42.22%;
}

.signIn {
    position: absolute;
    left: 81.79%;
    right: 14.5%;
    top: 5.44%;
    bottom: 92.44%;
    /* LIGHT/TEXT-SHADOW */

    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signIn li {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    
}
.signIn a{
    color: #0093B8;
}

.signUp { 
    position: absolute;
    left: 89.07%;
    right: 3.79%;
    top: 4.22%;
    bottom: 91.33%;
    /* height: 40pt; */

    background: #00AAD4;
    border-radius: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.signUp li {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    /* FILL-BUTTON-TEXT-SHADOW */

    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.signUp a{
    color: #FFFFFF;
}
.parallelogram {
    /* Rectangle 3 */
    position: absolute;
    left: 63.86%;
    right: 11.43%;
    top: 24.22%;
    bottom: 23%;
    transform: skew(-10deg);

    background: #FFFFFF;
    border-radius: 15px;
}


/* Sign In */
.sI{
    height: 100%;
    background: linear-gradient(to right, #008FB2 0%, #008FB2 37%, white 37%, white 100%);
}

.signInArea{
    position: relative;
    left: 37%;
    right: 95%;
    top: 24.22%;
    bottom: 23%;
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signInArea h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.05em;
}
.signInArea label{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.006em;
}

.signInArea  input[type=text], input[type=password] {
    width: 390pt;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(60, 60, 67, 0.29);
    border-radius: 8px;
    box-sizing: border-box;

 }
.signInArea input[type=submit] {
    width: 138pt;
    padding: 12px 20px;
    margin: 8px 0; 
    background: #008FB2;
    border-radius: 100px;
    color: #FFFFFF;
    border-color: #008FB2;
    /* FILL-BUTTON-TEXT-SHADOW */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.signInArea a{
    color: #008FB2;
}
.forgot{
    
}
.dont{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.006em;
}


/* Create Account */
.cA{
    height: 100%;
    background: linear-gradient(to right, #469F3D 0%, #469F3D 37%, white 37%, white 100%);
}

.createAccount{
    position: relative;
    left: 37%;
    right: 95%;
    top: 24.22%;
    bottom: 23%;
    width: 63%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.createAccount h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -0.05em;
    display: flex;
    align-self: start;
}
.createAccount label{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.006em;
}

.createAccount input[type=text], input[type=password] {
    width: 390pt;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(60, 60, 67, 0.29);
    border-radius: 8px;
    box-sizing: border-box;

  }
.createAccount input[type=submit] {
    width: 138px;
    padding: 12px 20px;
    margin: 8px 0; 
    background: #469F3D;
    border-radius: 100px;
    color: #FFFFFF;
    border-color: #469F3D;

    /* FILL-BUTTON-TEXT-SHADOW */
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}
.createAccount a {
    color: #469F3D;
}
.already{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    letter-spacing: -0.006em;
}

  